<div class="crafts">
{{#each data}}
{{#if_even @index}}
<div class="polaroid rotate_left cpolaroid">
{{else}}
<div class="polaroid rotate_right cpolaroid">
{{/if_even}}
  <h1>{{{name}}}</h1>
  {{#each imgs}}
  <img src="{{{this}}}.jpg" alt=""/>
  {{/each}}
  <p>{{{description}}}</p>
</div>
{{/each}}
</div>
