<p>Welcome, on this page you will find directions on how to get to our house from various places. The address for your GPS is:</p>
<p style="padding-left: 30px;">272 North Rd.<br />
Epsom NH, 03234-4931</p>
<p style="padding-left: 30px;">Latitude: 43.23850<br />
Longitude:-71.2975</p>
<p style="padding-left: 30px;"><a href="http://maps.google.com/?q=272 North Road Epsom NH">Google</a> | <a href="http://www.bing.com/maps/?v=2&amp;where1=272%20North%20Road%20Epsom%20NH">Bing</a></p>
<p>
<iframe width='600' height='300' style='border: 0px solid #000000' src='https://www.google.com/maps?q=43.23850,-71.2975&z=17&t=k&hl=&output=embed'></iframe>
</p>
<p>For directions from specific locations check the listing below and select where you are starting. I have tried to list most of the major ones. You will see that I have designed this page to work as a tree slowly narrowing you in from broad destinations to closer ones to my house. You will therefore probably have to jump between a few of these starting points as you get closer and closer to my house. The text will tell you where to go. You will see Google Street view images throughout showing views of key points along the way. For instance if you need to get of an exit on the highway I will show you a Google street view image of the exit.</p>
<div id="toc_container" class="toc_transparent no_bullets"><p class="toc_title">Contents</p><ul class="toc_list"><li><a href="#From_Massachusetts_BostonLogan_and_New_Hampshire_ManchesterSalem">From Massachusetts (Boston/Logan) and New Hampshire (Manchester/Salem)</a></li><li><a href="#From_Vermont">From Vermont</a></li><li><a href="#From_Concord">From Concord</a></li><li><a href="#From_the_Epsom_Traffic_Circle">From the Epsom Traffic Circle</a></li><li><a href="#From_PortsmouthDurham">From Portsmouth/Durham</a></li><li><a href="#From_Route_4">From Route 4</a></li><li><a href="#Our_Driveway">Our Driveway</a></li><li><a href="#From_Pittsfield">From Pittsfield</a></li><li><a href="#From_ChichesterCindy_Bond8217s">From Chichester/Cindy Bond&#8217;s</a></li><li><a href="#From_AllenstownWilliam_Lizotte8217s">From Allenstown/William Lizotte&#8217;s</a></li><li><a href="#From_Candia_101_Exit_3">From Candia 101 Exit 3</a></li><li><a href="#From_Raymond_101_Exit_5">From Raymond 101 Exit 5</a></li><li><a href="#From_Deerfield_Route_107">From Deerfield Route 107</a></li></ul></div>

<h4><span id="From_Massachusetts_BostonLogan_and_New_Hampshire_ManchesterSalem">From Massachusetts (Boston/Logan) and New Hampshire (Manchester/Salem)</span></h4>
<p>Take I-93 North towards NH, continue to Concord exit 15E onto I-393 towards Portsmouth. Continue with the directions from Concord.<br />
<img class="aligncenter" src="http://maps.googleapis.com/maps/api/streetview?size=600x300&amp;location=43.212609,-71.533752&amp;heading=30&amp;pitch=15&amp;sensor=false&amp;fov=120" alt="Exit 15E" /></p>
<p style="text-align: center;">Exit 15E</p>
<p><!-- ################################################################################################# --></p>
<h4><span id="From_Vermont">From Vermont</span></h4>
<p>Take I-89 southeast to Concord onto I-93 North. Continue to Concord exit 15E onto I-393 towards Portsmouth. Continue with the directions from Concord.<br />
<!-- ################################################################################################# --></p>
<h4><span id="From_Concord">From Concord</span></h4>
<p>Take I-393 towards Portsmouth. Continue on as the road turns into Route 4. Continue through the Epsom Traffic circle and continue with the directions from the Epsom Traffic Circle.<br />
<!-- ################################################################################################# --></p>
<h4><span id="From_the_Epsom_Traffic_Circle">From the Epsom Traffic Circle</span></h4>
<p>Traveling East away from Concord toward Portsmouth at the Epsom Traffic Circle travel 3.6 miles until the 2nd traffic light with Route 4 Motors on your left. Continue with the directions from Route 4.</p>
<p><img class="aligncenter" src="http://maps.googleapis.com/maps/api/streetview?size=600x300&amp;location=43.221333,-71.292505&amp;heading=45&amp;pitch=0&amp;sensor=false&amp;fov=90" alt="From Concord" /></p>
<p style="text-align: center;">Looking East over turn off Route 4 onto North Road</p>
<p><!-- ################################################################################################# --></p>
<h4><span id="From_PortsmouthDurham">From Portsmouth/Durham</span></h4>
<p>Take Route 4 West to Concord until just after you pass Northwood lake on your left in Northwood/Epsom. At the traffic light with route 4 motors on your right take a right. Continue with the directions from Route 4.</p>
<p><img class="aligncenter" src="http://maps.googleapis.com/maps/api/streetview?size=600x300&amp;location=43.221333,-71.291505&amp;heading=-45&amp;pitch=0&amp;sensor=false&amp;fov=90" alt="From Portsmouth" /></p>
<p style="text-align: center;">Looking West over turn off Route 4 onto North Road</p>
<p><!-- ################################################################################################# --></p>
<h4><span id="From_Route_4">From Route 4</span></h4>
<p>Take a right off Route 4 (from East/Portsmouth) or a left off Route 4 (from West/Concord) and travel 1.3 miles, 2.5 minutes until you reach 272 North Rd. Epsom NH on your right. See directions from our driveway.</p>
<p><img class="aligncenter" src="http://maps.googleapis.com/maps/api/streetview?size=600x300&amp;location=43.221333,-71.292005&amp;heading=0&amp;pitch=0&amp;sensor=false&amp;fov=90" alt="From Route 4" /></p>
<p style="text-align: center;">Looking North up turn off Route 4 onto North Road</p>
<p><!-- ################################################################################################# --></p>
<h4><span id="Our_Driveway">Our Driveway</span></h4>
<p>You are at our house! Here are some pictures of the driveway.<br />
<img class="aligncenter" src="http://maps.googleapis.com/maps/api/streetview?size=600x300&amp;location=43.237752,-71.298956&amp;heading=90&amp;pitch=0&amp;sensor=false&amp;fov=90" alt="Looking Down our Driveway" /></p>
<p style="text-align: center;">Looking Down our Driveway</p>
<p><img class="aligncenter" src="http://maps.googleapis.com/maps/api/streetview?size=600x300&amp;location=43.237576,-71.298865&amp;heading=5.38&amp;pitch=0&amp;sensor=false&amp;fov=90" alt="Looking at our Mailbox Coming from Route 4" /></p>
<p style="text-align: center;">Looking at our Mailbox Coming from Route 4</p>
<p><img class="aligncenter" src="http://maps.googleapis.com/maps/api/streetview?size=600x300&amp;location=43.238017,-71.299109&amp;heading=150&amp;pitch=0&amp;sensor=false&amp;fov=90" alt="Looking at our Mailbox Coming from Pittsfield" /></p>
<p style="text-align: center;">Looking at our Mailbox Coming from Pittsfield</p>
<p><img class="aligncenter" src="https://mokon.net/wp-content/uploads/2014/01/mailbox.jpg" alt="A View of our Mailbox from 2012" width="600px" /></p>
<p style="text-align: center;">A View of our Mailbox from 2012</p>
<p><!-- ################################################################################################# --></p>
<h4 style="text-align: left;"><span id="From_Pittsfield">From Pittsfield</span></h4>
<p style="text-align: left;">From Route 28 turn onto Route 107/Barnstead Road. Instead of taking the turn at the light onto Route 107/Catamount Road continue on the road which turns into Carroll Street. Turn left onto Main Street/South Main Street. Continue on this road. It turns into Dowboro Road at Mountain Road. Bare right onto North Road as you enter Epsom. Do not go on the dirt road, Tan Road. Continue 0.9 miles to the address 272 North Road which will be on your left. See directions from our driveway.</p>
<p><!-- ################################################################################################# --></p>
<h4><span id="From_ChichesterCindy_Bond8217s">From Chichester/Cindy Bond&#8217;s</span></h4>
<p>From Hilliard Road turn left onto Swiggey Brook Road. Continue on Swiggey Brook Road until it meets Route 28. Turn left onto Route 28. Almost immediately turn right onto Webster Mill Road. Drive 1.8 miles at which point the road turns into New Orchard Road. Bear left and continue on Webster Mill Road (be careful! this is easy to miss). Continue and turn right onto Dowboro Road. Bare right onto North Road as you enter Epsom. Do not go on the dirt road, Tan Road. Continue 0.9 miles to the address 272 North Road which will be on your left. See directions from our driveway.<br />
<!-- ################################################################################################# --></p>
<h4><span id="From_AllenstownWilliam_Lizotte8217s">From Allenstown/William Lizotte&#8217;s</span></h4>
<p>From Route 28 travel North to the Epsom Traffic Circle. Take the first right of the circle and continue with the directions from the Epsom Traffic Circle.<br />
<!-- ################################################################################################# --></p>
<h4><span id="From_Candia_101_Exit_3">From Candia 101 Exit 3</span></h4>
<p>From exit 3 take Route 43 (Old Candia Road) from Exit 3 toward Candia Four Corners. At Raymond Road bear left onto Main Street and travel through Candia Four Corners. Route 43 turns in Deerfield Road. Continue on Deerfield Road bearing right at the intersection with South Road in Deerfield. Pass the Deerfield Fair Grounds on your right and merge left onto Route 107. Continue with the directions from Deerfield Route 107.<br />
<!-- ################################################################################################# --></p>
<h4><span id="From_Raymond_101_Exit_5">From Raymond 101 Exit 5</span></h4>
<p>From exit 5 take Route 102/107/156 and at the lights take a left onto Route 27/107. At the bisection of Route 27 and 107 in Raymond bear right staying on Route 107. Continue with the directions from Deerfield Route 107.<br />
<!-- ################################################################################################# --></p>
<h4><span id="From_Deerfield_Route_107">From Deerfield Route 107</span></h4>
<p>Continue on Route 107 and at the intersection from Route 107 and Route 43 (Mountain View Road) bear left staying on Route 107. Continue on Route 107 until you hit Route 4 in Epsom NH. Continue with the directions from Route 4.</p>
