<div class="blurb">
<div class="polaroid rotate_left_float cpolaroid">
  <img src="david_bond_social_media.jpg" alt="profile picture"
       width="128" height="128">
</div>

<p>Welcome to my website. I'm David 'Mokon' Bond and here you will find a bit
about some of my passions.</p>

<p>I'm an innovator, technologist, and software engineer. <a href="/portfolio">
Professionally</a> I'm interested in <i class="fas fa-network-wired"></i>
<i>computer networking</i>: more specifically <i class="fas fa-route"></i>
<i>routing</i> in both theory and algorithms. I've been active in the IETF for
a number of years. I enjoy complex problem spaces and strive for <i>elegant</i>
solutions.</p>

<p>I did my undergraduate and some graduate work in Computer Science at the
<i class="fas fa-university"></i> University of New Hampshire mainly in the
area of <i>artificial intelligence</i> in <i>heuristic search</i> and <i>path
planning</i>. I love visualizing problems sets as I did with my
<a href="https://www.youtube.com/watch?v=4rU9702MEUg">path planning work</a>.
</p>

<p>I am fascinated in the intersection between <i class="fas fa-desktop"></i>
software engineering and <i class="fas fa-briefcase"></i> business. I believe
in lean and agile software development without bureaucracy and I enjoy
understanding how this interacts with the financial side of business.</p>

<p>My interest in computers stems from video games peculiarly the <i class="fas
fa-chess"></i> <i>real time strategy</i> genre and <i class="fas
fa-gamepad"></i> <i>competitive esports </i>. I started writing simple qbasic
games and real time strategy scenario scripting back in elementary school. Then
in high school and college I played at an expert level in several real time
strategy games. Even more than playing competitively though I had a passion for
teaching others how to do the same. Through this passion I worked at various
game sites, traveled to tournaments as well as media events and even published
a <i class="fas fa-book"></i> book on Age of Empires III. <i class="fas
fa-dice-d20"></i> Board gaming, both designing and playing, is another hobby of
mine.</p>

<p>My interest in real time strategy games grew out of a related interest in
<i class="fas fa-hourglass-half"></i> <i>history</i>. Ancient and medieval
history are my favorite time periods and as an avid listener of
<i class="fab fa-audible"></i> audio books I am always looking for new
recommendations. In this same vein I'm fascinated with <i class="fas fa-tree">
</i> <a href="/genealogy">genealogy</a> and I have written a book on my family
history.</p>

<p>I have many other hobbies. I love <i class="fas fa-globe-americas"></i>
traveling along with <i class="fas fa-camera-retro"></i> photography and
<i class="fas fa-video"></i> videography. When I can I enjoy
<i class="fas fa-hiking"></i> hiking and <i class="fas fa-running"></i> running.
I'm also into <i class="fas fa-drafting-compass"></i> <a href="/crafts">
wood working</a>.</p>
</div>
