<h2>Visit Daily</h2>
<ul>
<li><a href="http://qz.com">Quartz</a></li>
<li><a href="http://www.networkworld.com/">Network World</a>
<ul>
<li><a href="http://www.networkworld.com/topics/data-center.html">Data Centers</a></li>
<li><a href="http://www.networkworld.com/topics/router.html">Routers</a></li>
<li><a href="http://www.networkworld.com/topics/infrastructure-management.html">Infrastructure Management</a></li>
<li><a href="http://www.networkworld.com/topics/cloud-computing.html">Cloud Computing</a></li>
<li><a href="http://www.networkworld.com/topics/ethernet-switch.html">Ethernet Switching</a></li>
<li><a href="http://www.networkworld.com/topics/sdn.html">SDN</a></li>
<li><a href="http://www.networkworld.com/topics/linux.html">Linux</a></li>
</ul>
</li>
<li><a href="http://www.forbes.com/">Forbes</a></li>
<li><a href="http://www.businessinsider.com/">Business Insider</a></li>
<li><a href="http://www.lightreading.com/">Light Reading</a></li>
<li><a href="http://www.linkedin.com/today/">LinkedIn Today</a></li>
<li><a href="http://thechangelog.com/">The Change Log Blog</a></li>
<li><a href="http://www.wired.com/">Wired</a></li>
<li><a href="http://www.sdncentral.com/">SDN Central</a></li>
<li><a href="http://venturebeat.com/">Venture Beat</a></li>
<li><a href="http://blog.ipspace.net/">IP Space</a></li>
</ul>
<h2>Visit Weekly</h2>
<ul>
<li><a href="http://www.realclearpolitics.com/">Real Clear Politics</a></li>
<li><a href="http://etherealmind.com/">Ethereal Mind</a></li>
<li><a href="http://bradhedlund.com/">Brad Hedlund Blog</a></li>
<li><a href="http://networkheresy.com/">Network Heresy</a></li>
<li><a href="http://www.virtualinsanity.com/">Virtual Insanity</a></li>
<li><a href="http://packetpushers.net/">Packet Pushers</a></li>
</ul>
