<h1>David Bond&#8217;s Portfolio</h1>
<p>Welcome to my portfolio. This page shows some of the things I have worked on. It shows projects both personal and professional. Please visit my <a href="https://github.com/Mokon?tab=repositories">github</a> account to view some of these projects. I will link to those when appropriate. This page is not a resume, my <a href="http://www.linkedin.com/in/davidmokonbond/">LinkedIn</a> account is my online resume.</p>
<ul>
<li><a href="#mfin">Mokon Financial</a></li>
<li><a href="#vyatta">Vyatta vRouter 5400/5600</a></li>
<li><a href="#menv">Mokon Environment</a></li>
<li><a href="#mfit">Mokon Fitness</a></li>
<li><a href="#mcommon">Mokon Common</a></li>
<li><a href="#ibm">IBM System Networking Switch</a></li>
<li><a href="#mspe">Mokon Software Project Estimator</a></li>
<li><a href="#tm">Test Monkey</a></li>
<li><a href="#trill">TRILL Wireshark Dissector</a></li>
<li><a href="#gasa">Gas Analytics</a></li>
<li><a href="#mai">The MAI Framework</a></li>
<li><a href="#scrabble">Scrabble</a></li>
<li><a href="#monopoly">Monopoly</a></li>
<li><a href="#msim">MSIM</a></li>
<li><a href="#falcon">Falcon HFx Mobile Price Advisor</a></li>
<li><a href="#websites">Websites</a></li>
<li><a href="#publications">Publications</a></li>
<li><a href="#speaking">Speaking Engagements</a></li>
<li><a href="#events">Events Organized</a></li>
<li><a href="#awards">Awards</a></li>
</ul>
<h3>Professional Interests</h3>
<ul>
<li>Computer Networking</li>
<li>Artificial Intelligence</li>
<li>Software Engineering</li>
<li>Business</li>
<li>Start-Ups</li>
</ul>
<h3>Personal Interests</h3>
<ul>
<li>Photography</li>
<li>History</li>
<li>Genealogy</li>
<li>Traveling</li>
<li>Economics</li>
<li>Finance</li>
<li>Running</li>
<li>Hiking</li>
</ul>
<p><a name="mfin"></a></p>
<h2>Mokon Financial</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David Bond</li>
<li><b>Written In:</b> C++</li>
<li><b>When Written:</b> 2013-2015</li>
<li><b>Uses:</b> Boost, STL, Cereal, Json </li>
<li><b>Purpose:</b> Financial Management</li>
</ul>
<p>For a while now I have maintained an excel/open office spreadsheet for my personal finances. I&#8217;ve never found an online system that fits all of my desires. A spreadsheet can be limited though and so I have undertaken a project to create a C++ program to manage my finances. The code is currently not publicly available but my intentions are to release it as an open source project once I like what I have..</p>
<p><a name="vyatta"></a></p>
<h2>Brocade Vyatta 5400/5600 vRouter</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> A team of software engineers including David Bond</li>
<li><b>Written In:</b> C, Perl</li>
<li><b>When Contributed:</b> 2013-2015</li>
<li><b>Uses:</b>VIM, POSIX, Linux (Debian), GIT</li>
<li><b>Purpose:</b> Virtual Router</li>
</ul>
<p>At Brocade I contributed to the Brocade Vyatta 5400/5600 vRouter as a part of the team from the Vyatta acquisition. In particular I focused on Routing (BGP, PIM, OSPF).</p>
<p><a name="menv"></a></p>
<h2>Mokon Environment</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David Bond</li>
<li><b>Written In:</b> Bash, etc</li>
<li><b>When Written:</b> 2005-2015</li>
<li><b>Uses:</b> Misc.</li>
<li><b>Purpose:</b> Linux Environment, Aliases, Dotfiles, etc</li>
</ul>
<p>This is an ongoing project of mine which contains a set of tools I use to manage my Linux environment. It does everything from loading alias and dotfiles to changing gnome to fit my preferences. I am constantly extending it and it can be viewed on <a href="https://github.com/Mokon/menv">GitHub</a>.</p>
<p><a name="mfit"></a></p>
<h2>Mokon Fitness</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David Bond</li>
<li><b>Written In:</b> C++</li>
<li><b>When Written:</b> 2013-2014</li>
<li><b>Uses:</b> XML, Boost, etc</li>
<li><b>Purpose:</b> Fun &amp; Fitness</li>
</ul>
<p>There are many fitness related calculators on the web which are a pain to re-run every time you want to see a result. This was my solution. It is a C++ program which takes an xml file with standard statistics and it run calculations on those stats. All its source can be viewed on <a href="https://github.com/Mokon/mfit">GitHub</a>.</p>
<p><a name="mcommon"></a></p>
<h2>Mokon Common</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David Bond</li>
<li><b>Written In:</b> C++, etc</li>
<li><b>When Written:</b> 2010-2014</li>
<li><b>Uses:</b> Boost, Autotools, etc</li>
<li><b>Purpose:</b> Reduced code duplication</li>
</ul>
<p>I was finding that on many of my personal projects I was duplicating code. To prevent this I created common package that can be shared between my programs. Its source can be viewed on <a href="https://github.com/Mokon/mcommon">GitHub</a>.</p>
<p><a name="ibm"></a></p>
<h2>IBM System Networking Switch</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> A team of software engineers including David Bond</li>
<li><b>Written In:</b> C</li>
<li><b>When Contributed:</b> 2011-2013</li>
<li><b>Uses:</b>VIM, POSIX, Linux, Clearcase/Cleartool</li>
<li><b>Purpose:</b> Network Switching</li>
</ul>
<p>At IBM I contributed to the IBM System Networking products which includes a variety of switches such as IBM RackSwitch G8000, G8052, G8124E, G8264, G8264T, and G8316 to name a few. More information about these can be seen on the <a href="http://www-03.ibm.com/systems/networking/switches/rack.html"> IBM System Networking Page</a>. I in particular contributed in a team built up to deliver a TRILL solution where I was the TRILL protocols subject matter expert.</p>
<p><center><br />
<a href="/portfolio/RackS_G8264_Front_top_300x100.jpg"><br />
<img style="padding: 1em; width: 200px;" src="/portfolio/RackS_G8264_Front_top_300x100.jpg" alt="IBM RackSwitch G8264" /></a></center>A picture of a IBM RackSwitch G8264</p>
<p>&nbsp;</p>
<p><a name="mspe"></a></p>
<h2>Mokon Software Project Estimator</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David Bond</li>
<li><b>Written In:</b> C++</li>
<li><b>When Written:</b> 2010</li>
<li><b>Uses:</b> Boost, etc</li>
<li><b>Purpose:</b> Software Engineering</li>
</ul>
<p>I took a class on software project management and wanted to be able to run some of the formula&#8217;s it taught on my projects. This is a package which provides that ability. All its source can be viewed on <a href="https://github.com/Mokon/mspe">GitHub</a>.</p>
<p><a name="tm"></a></p>
<h2>Test Monkey &#8211; The UNH-IOL Protocol Testing Software Package</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> A team of software engineers including David Bond</li>
<li><b>Written In:</b> C, Java, Tcl</li>
<li><b>When Written:</b> 2006-2011</li>
<li><b>Uses:</b> Eclipse, Ant, Autotools (Automake, Autoconf, Make), SVN, CVS</li>
<li><b>Purpose:</b> Network Testing</li>
</ul>
<p>As a software engineer I have played an active role on a team of seven other engineers working on a system used to generate and receive arbitrary packets from a network. This system runs over a client server based model with the client written in object oriented Java and a server written in C.</p>
<p>I worked on the client side writing Java in both maintenance and extension roles in the Eclipse IDE. The client itself interacts with a TCL and Expect script interpreter to implement test cases needed for verifying the conformance of networking devices to standards.</p>
<p>On the server side I was the software architect in charge of the C code for the server. I architected and designed a multi-threaded, real time, easily extendable, high availability architecture. Additionally, I was in charge of managing the cross platform autotools build process. Part of the architecture of this system consists of a command pattern for receiving protocol messages from the client. I was responsible for implementing a set of commands for the client to connect to a remote socket. During this process I implemented a TCP/IP stack.</p>
<p>Additional information about Test Monkey can be found on the <a href="http://www.iol.unh.edu/services/testing/tools/testmonkey/"> UNH-IOL Test Monkey Page</a>. The tool has since been renamed to INTACT.</p>
<p><center><br />
<a href="/portfolio/tm_gui_small.jpg"><br />
<img style="padding: 1em; width: 200px;" src="/portfolio/tm_gui_small.jpg" alt="Test Monkey Script" /></a></center>A screen shot of the Test Monkey Scripting Utility</p>
<p><a href="/portfolio/tm_monitor_small.jpg"><br />
<img style="padding: 1em; width: 200px;" src="/portfolio/tm_monitor_small.jpg" alt="Test Monkey Sniffer" /></a></p>
<p>A screen shot of the Test Monkey Sniffer</p>
<p>&nbsp;</p>
<p><a name="trill"></a></p>
<h2>TRILL Wireshark Dissector</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David Bond</li>
<li><b>Written In:</b> C</li>
<li><b>When Written:</b> 2013-2014</li>
<li><b>Uses:</b> Wireshark</li>
<li><b>Purpose:</b> Needed TRILL dissector for Wireshark</li>
</ul>
<p>I was working on TRILL at the IOL and wanted to be able to view TRILL frames in Wireshark. At the time there was no dissector for TRILL so I created on and got it approved on the open source project. I had also created a TRILL-ISIS dissector at the time but for some reason I never submitted it. You can view the dissector on the Wireshark <a href="https://code.wireshark.org/review/gitweb?p=wireshark.git;a=blob;f=epan/dissectors/packet-trill.c;h=98ab5339ccaaea143f32deb72ebde67123fa1402;hb=HEAD">Git Repository</a> of course view the commit history to see changes coming from other people.</p>
<p><a name="gasa"></a></p>
<h2>Gas Analytics</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David Bond</li>
<li><b>Written In:</b> C#</li>
<li><b>When Written:</b> 2009</li>
<li><b>Uses:</b> XML</li>
<li><b>Purpose:</b> Fun</li>
</ul>
<p>This was a fun little program I did to analyse my car&#8217;s gas usage. I no longer have it up anywhere though. It took a xml file with gas receipts recorded in them and computed a large variety of statistics on them.</p>
<p><a name="mai"></a></p>
<h2>The MAI Framework &#8211; A framework for research in artificial intelligence</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David Bond with a few algorithms coded by Niels Widger</li>
<li><b>Written In:</b> C#</li>
<li><b>When Written:</b> Senior Year College &#8211; 1st Year Grad School</li>
<li><b>Uses:</b> XML, .NET, OpenGL, Mono, Visual Studio</li>
<li><b>Purpose:</b> AI Research</li>
</ul>
<p>I developed this framework for research I have done in AI. While the screenshots I show here have MAI running on in single agent path finding it has a full objected oriented design that decouples the algorithms from the domain and heuristics being used. The code base for MAI has another domain, STRIPS planning, meaning that given the right heuristics A* will work on path planning as well as STRIPS planning. The algorithm designer doesn&#8217;t have to worry about the domain. The framework can be run in batch mode to produce output for graphs or in a visualizer mode to debug or demo the algorithms being developed. Here are a set of pictures with the path planning MAI visualizer.</p>
<p><center><br />
<a href="/portfolio/mai-dyn-path.png"><br />
<img style="padding: 1em; width: 600px;" src="/portfolio/mai-dyn-path.png" alt="Dynamic World Path Planning" /></a></center>Here is an example of path finding in a fully visible dynamic world with an added real time constraint.</p>
<p><a href="/portfolio/mai-xml-fileformat.png"><br />
<img style="padding: 1em; width: 600px;" src="/portfolio/mai-xml-fileformat.png" alt="Dynamic World Path Planning" /></a></p>
<p>Along with supporting HOG framework files MAI also can load a specially designed MAI xml format. This format has features such as pre-scripted changes to allow consistency between batch runs of maps.</p>
<p><a href="/portfolio/mai-wc3-path.png"><br />
<img style="padding: 1em; width: 600px;" src="/portfolio/mai-wc3-path.png" alt="Unknown World Path Planning" /></a></p>
<p>Here is an example of path finding in an initially unknown static world with an added real time constraint. The map here is an adaption of the War Craft 3 Moonglade map.</p>
<p><a href="/portfolio/mai-debug-vis.png"><br />
<img style="padding: 1em; width: 600px;" src="/portfolio/mai-debug-vis.png" alt="Dynamic World Path Planning" /></a></p>
<p>The visualizer supports many debugging features for algorithms that show some of the underlying data structures. This is useful for programmers to attain a better understand of how to improve the algorithms being developed.</p>
<p>All the source code for this project can be viewed on <a href="https://github.com/Mokon/mai">GitHub</a>. Here is a video I used at a conference showing this in action:</p>
<p><iframe width="608" height="456" src="https://www.youtube.com/embed/4rU9702MEUg?feature=oembed" frameborder="0" allowfullscreen></iframe></p>
<p><a name="scrabble"></a></p>
<h2>Scrabble</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David Bond</li>
<li><b>Written In:</b> Java</li>
<li><b>When Written:</b> 2007</li>
<li><b>Uses:</b></li>
<li><b>Purpose:</b> Fun</li>
</ul>
<p>One day while on vacation I was playing scrabble against some friends and loosing. That night I decided to program a simple brute force Scrabble solver and I stayed up until 3 AM hacking it together using a spell check dictionary I had on my computer. The next day the computer was able to beat whomever it played against and I upgraded it with the official scrabble dictionary downloaded from the library&#8217;s wifi connection. All the source is in <a href="https://github.com/Mokon/scrabble">Github</a></p>
<p><a name="monopoly"></a></p>
<h2>Monopoly</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> Tim April, David Bond, and Niels Widger</li>
<li><b>Written In:</b> Java</li>
<li><b>When Written:</b> Sophomore Year College</li>
<li><b>Uses:</b> Swing</li>
<li><b>Purpose:</b> Class Project</li>
</ul>
<p>I created this monopoly game as part of an undergradate class, Introduction to Software Design and Development, at the University of New Hampshire. I was mainly responsible for the AI, Cards, Decks, and Deeds, however it was a team effort. I was specifically in charge of programming the Strategic AI, for this game. I had no formal experience in AI at the time of writing this program, so the methods and algorithms used were simply ones that I invented to handle the problem at hand. This is how I described the AI design in my code comments:</p>
<p style="margin-left: 2em;">This AI works via a variety of methods. First, it attempts to make use look up tables to estimate various probabilities and to estimate what the best choices would be. The tables are calculated at the first instantiate of this class to prevent overload with constant calculation. It also attempts to keep a budget of money it will need. This way it doesn&#8217;t spend to must money on houses and then suddenly have itself forced into selling them.</p>
<p>While it wasn&#8217;t perfect, the AI did quite well.</p>
<p><center><br />
<a href="/portfolio/mono_ss.jpg"><br />
<img style="padding: 1em; width: 600px;" src="/portfolio/mono_ss.jpg" alt="Screenshot of the Monopoly Board" /></a></center>Screenshot of the Monopoly Board.</p>
<p><a href="/portfolio/MonopolyUML.jpg"><br />
<img style="padding: 1em; width: 600px;" src="/portfolio/MonopolyUML_tn.jpg" alt="Monopoly UML" /></a></p>
<p>The UML diagram for the Monopoly program.</p>
<p><a href="/portfolio/mono_probtable.jpg"><br />
<img style="padding: 1em; width: 600px;" src="/portfolio/mono_probtable.jpg" alt="Probability Table" /></a></p>
<p>One of the lookup tables used.</p>
<p>&nbsp;</p>
<p>I have included the program here for download. If you are in windows with Java 1.6 installed double clicking on it should open the program. Otherwise open it via the command line using java -jar Monopoly-v1.0.jar.</p>
<p><a href="/Files/Monopoly-v1.0.jar">Download Monopoly</a></p>
<p><a name="msim"></a></p>
<h2>MSIM</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David</li>
<li><b>Written In:</b> Java</li>
<li><b>When Written:</b> Sophomore Year College</li>
<li><b>Uses:</b> Assembly Language</li>
<li><b>Purpose:</b> Fun</li>
</ul>
<p>MSIM is a program I made in my spare time for fun. Technically we had an assignment in my CS 520, Assembly Language Programming and Machine Organization class, and I decided to expand upon it. The teacher in this class had his own assembly language and the final project was a simulator that ran the machine code. The in-class project was done in C but I did the one in my spare time in Java with an OO design. It iterates through a binary file in a fetch execute cycle until program termination. This version of the simulator has the added bonus of being able to step through the code, add break points to the code, and of course graphically displaying the execution of the code.</p>
<p><center><br />
<a href="/portfolio/mono_ss.jpg"><br />
<img style="padding: 1em; width: 600px;" src="/portfolio/sim.jpg" alt="MSimulator" /></a></center>Screenshot of &#8216;MSim&#8217;.</p>
<p><a name="falcon"></a></p>
<h2>Falcon HFx Mobile Price Advisor</h2>
<h3>Fast Facts</h3>
<ul>
<li><b>Written By:</b> David</li>
<li><b>Written In:</b> Java</li>
<li><b>When Written:</b> 2010-2011</li>
<li><b>Uses:</b> Android SDK</li>
<li><b>Purpose:</b> Mobile pricing</li>
</ul>
<p>This was from some contract work I did. It was an android application front end for strategic pricing.</p>
<p><center><br />
<a href="/portfolio/falcon-mobile-thumb.jpg"><br />
<img style="padding: 1em; width: 200px;" src="/portfolio/falcon-mobile-thumb.jpg" alt="MSimulator" /></a></center>Picture of Falcon HFx Mobile Price Advisor.</p>
<p>&nbsp;</p>
<p><a name="websites"></a></p>
<h2>Websites</h2>
<p>I have worked on a number of websites throughout the years. Here are some of them and where I was involved with them.</p>
<table>
<thead>
<tr>
<th>Website</th>
<th>Type</th>
<th>Technology</th>
<th>Contribution</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://mokon.net">Mokon.Net</a></td>
<td>Personal Blog and Website</td>
<td>WordPress, Formerly XHTML, C#, MYSQL, JavaScript, XML, LINQ, RSS, AJAX, and CSS, and before that PHP and Java.</td>
<td>Sole Developer/Content Provider</td>
</tr>
<tr>
<td><a href="http://amandaanddavid2011.com">AmandaAndDavid2011.com</a></td>
<td>Personal Wedding Website</td>
<td>XHTML, C#, CSS</td>
<td>Sole Developer/Content Provider</td>
</tr>
<tr>
<td><a href="http://ipv6ready.org">IPv6ReadyLogo.org</a></td>
<td>IPv6 Forum Ready Logo Website</td>
<td>XHTML, MYSQL, JavaScript, PHP, and CSS.</td>
<td>Sole Developer, Site Maintenance</td>
</tr>
<tr>
<td><a href="http://gamereplays.org">GameReplays.org</a></td>
<td>Gaming Community Website</td>
<td></td>
<td>Staff(Content Provider)</td>
</tr>
<tr>
<td><a href="http://heavengames.com">HeavenGames.com</a></td>
<td>Gaming Community Website</td>
<td></td>
<td>Staff(Content Provider)</td>
</tr>
</tbody>
</table>
<p><a name="publications"></a></p>
<h2>Publications</h2>
<h3>Refereed Conference Publications</h3>
<ul>
<li>Bond, David. Widger, Niels. Ruml, Wheeler. Sun, Xiaoxun. Koenig, Sven. “Real-Time Search in Dynamic Worlds,” International Symposium on Combinatorial Search (SoCS-10), 2010.</li>
</ul>
<h3>Un-Refereed Papers</h3>
<ul>
<li>Bond, David. Widger, Niels. &#8220;Dynamic Real Time Search&#8221; CS 980, Computer Science Department, University of New Hampshire, Durham, NH, December 2009.</li>
<li>Bond, David. &#8220;Backward Real Time Heuristic Search in Grid World Pathfinding&#8221; CS 830, Computer Science Department, University of New Hampshire, Durham, NH, May 2009.</li>
<li>Bond, David. &#8220;Open Shortest Path First Guide&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, July 2008.</li>
</ul>
<h3>Standards Contributions (Author)</h3>
<ul>
<li>Bond, David, Manral, Vishwas. “RBridges: Operations, Administration, and Maintenance (OAM) Support”, IETF. Work in Progress, March. 2012.</li>
<li>Li, Y., Bond, David, Manral, Vishwas. “OAM tool for RBridges: Multi-destination Ping”, IETF. Work in Progress, October. 2011.</li>
<li>Senevirthne, Tissa. Bond, David. Perlman, Radia. Etal. “Requirements for Operations, Administration and Maintenance in TRILL”, IETF. RFC 6905. March, 2013.</li>
</ul>
<h3>Standards Contributions (Acknowledged)</h3>
<ul>
<li>Perlman, R., Eastlake, D., Dutt, D., Gai, S., and A. Ghanwani, &#8220;RBridges: Base Protocol Specification&#8221;, IETF. RFC 6325, July 2011.</li>
<li>Eastlake, D., R. Perlman, A. Ghanwani, D. Dutt, V. Manral, &#8220;RBridges: Adjacency&#8221;, IETF. RFC 6327, July 2011.</li>
<li>Perlman, R., Eastlake, D., Li, Y., Banerjee, A., Fangwei, H., &#8220;RBridges: Appointed Forwarders&#8221;, IETF. RFC 6439, November 2011.</li>
<li>Perlman, R., Eastlake, D., and A. Ghanwani, &#8220;RBridges: Multilevel TRILL&#8221;, IETF. Work in Progress, March 2011.</li>
</ul>
<h3>White Papers</h3>
<ul>
<li>Bond, D., “TRILL Deployment Nears”, Bridge Functions Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, September 2010.</li>
</ul>
<h3>Books</h3>
<ul>
<li>Bond, David. &#8220;The Way of the Expert: Age of Empires III&#8221; United States of America: CafePress, 2006.</li>
<li>Bond, David &#8220;The Genealogy of Our Family&#8221; United States of America: LuLu, 2014.</li>
</ul>
<h3>Test Suites</h3>
<ul>
<li>Bond, David. &#8220;TRILL Conformance Test Suite&#8221; Bridge Functions Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, June 2010.</li>
<li>Bond, David. &#8220;TRILL Interoperability Test Suite&#8221; Bridge Functions Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, December 2009.</li>
<li>Bond, David. &#8220;Internet Group Management Protocol Snooping Interoperability Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, July 2008.</li>
<li>Bond, David. Schwendimann, Greg. Winters, Timothy. &#8220;Internet Group Management Protocol Version 3 Multi-System Interoperability Test Suite&#8221; IPv4 Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, March 2007.</li>
<li>Bond, David. Kistruck, James. &#8220;Internet Group Management Protocol Version 3 Conformance Test Suite&#8221; IPv4 Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, October 2007.</li>
</ul>
<h3>Test Suite Contributions</h3>
<ul>
<li>UNH-IOL. &#8220;IEEE 802.1AE-2006 &amp; 802.1X-2010 MACsec Conformance Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2010.</li>
<li>UNH-IOL. &#8220;Port-Based Network Access Control 802.1X Interoperability Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2010.</li>
<li>UNH-IOL. &#8220;Intermediate System to Intermediate System Operations Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2009.</li>
<li>UNH-IOL. &#8220;Open Shortest Path First NSSA Option Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2009.</li>
<li>UNH-IOL. &#8220;Border Gateway Protocol 4 Operations Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2009.</li>
<li>UNH-IOL. &#8220;Protocol Independent Multicast – Sparse Mode Operations Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2009.</li>
<li>UNH-IOL. &#8220;Label Distribution Protocol Interoperability Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2009.</li>
<li>UNH-IOL. &#8220;Application Security Interoperability Test Suite&#8221; IPv4 Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2008.</li>
<li>UNH-IOL. &#8220;Open Shortest Path First Operations Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2008.</li>
<li>UNH-IOL. &#8220;Protocol Independent Multicast – Sparse Mode Interoperability Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2008.</li>
<li>UNH-IOL. &#8220;Routing Information Protocol Version 2 Multi-System Interoperability Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2008.</li>
<li>UNH-IOL. &#8220;Routing Information Protocol Over IPv6 Multi-System Interoperability Test Suite&#8221; Routing Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2008.</li>
<li>UNH-IOL. &#8220;Distance Vector Multicast Routing Protocol Operations Test Suite&#8221; IPv4 Consortium, InterOperability Laboratory, University of New Hampshire, Durham, NH, 2007.</li>
</ul>
<h2>Speaking Engagements</h2>
<h3>Contributed Talks</h3>
<ul>
<li>Real Time Search in Dynamic Worlds, International Symposium on Combinatorial Search (SoCS-10), Atlanta GA</li>
</ul>
<p><a name="presentations"></a></p>
<h3>Presentations</h3>
<ul>
<li>Real Time D* Lite: Initial Results, UNH CS 980, October 15th, 2009</li>
<li>Backward Real Time Heuristic Search in Grid World Pathfinding, UNH CS 830, May 13th, 2009</li>
<li>Multicast &#038; You, UNH CS 595, September 23rd, 2008</li>
<li>C to D, UNH CS 595, October 11th, 2008</li>
<li>LINQ, UNH CS 595, December 4th, 2008</li>
<li>Transparent Interconnection of Lots of Links (TRILL): An Overview and Research Opportunities</li>
<li>   UNH CS ACM, March 11th, 2010</li>
<li>   UNH CS 980, February 24th, 2010</li>
<li>   UNH IOL, January 21st, 2010</li>
<li>TRILL &#038; Perspectives on Standardization Efforts, UNH CS 925, November 19th, 2010</li>
</ul>
<p><a name="events"></a></p>
<h2>Events Organized</h2>
<ul>
<li>IOL Tour, IEEE Computer Society NH Chapter, February 22nd 2011</li>
<li>IOL Tour, IEEE Computer Society Boston Chapter, August 21st 2010</li>
<li>TRILL Interoperability Plugfest: UNH IOL, August 3rd – August 5th 2010</li>
<li>TRILL: An Overview and Research Opportunities, UNH ACM, March 11th 2010</li>
<li>Introduction to Make, UNH ACM, March 4th 2010</li>
<li>Silver Tech Presentation, UNH ACM, October 26th 2009</li>
<li>The Serious Game Industry, Muzzy Lane Software, UNH ACM, September 29th 2009</li>
<li>IOL Tour, IEEE Computer Society Boston Chapter, June 13th 2009</li>
</ul>
<p><a name="awards"></a></p>
<h2>Awards</h2>
<ul>
<li>IOL Star for Meritorious Service, January 2009, August 2009</li>
<li>UNH CEPS Graduate Fellowship, 2009 </li>
<li>National Prime Users Group Scholarship, 2008 </li>
<li>S. Robert Levine and Craig R. Benson Scholarship, 2006, 2008 </li>
<li>The National Science &#038; Mathematics Access to Retain Talent Grant, 2007-2008 </li>
<li>Wagner-Hosser Scholarship, 2005-2008 </li>
<li>DAR Geraldine Olmstead Scholarship, 2005-2008 </li>
<li>John B. and Martha M.W. Zocchi Scholarship, 2007 </li>
<li>Fred G. and Gertrude A. Howell Scholarship, 2007 </li>
<li>William H. Greenough Scholarship, 2007 </li>
<li>Phyllis F. Hazen Scholarship, 2005-2006 </li>
<li>New Hampshire Charitable Foundation Scholarship, 2005-2006 </li>
<li>McIninch Scholarship, 2005 </li>
<li>Gwen and George Eckman 60th Anniversary Scholarship, 2005 </li>
<li>Certificate of Educational Development National, 2003 </li>
<li>Charles W. Phillips Award, 2001 </li>
<li>Candia Militia History Award, 2001</li>
</ul>
