<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>dash</title>
  <meta name="description" content="dash - A Dashboard Application">
  <meta name="author" content="David Bond">

  <link href="http://code.fancygrid.com/fancy.min.css" rel="stylesheet">
  <script src="http://code.fancygrid.com/fancy.min.js"></script>

	<script>
	Fancy.MODULESDIR="http://cdn.fancygrid.com/modules/";
	</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>

<body>
  {{{body}}}
</body>
</html>
