This is my genealogy page. It is a work in progress. The information here is
based on the book I wrote. This is meant to be an easy way to view the
information stored in my git repo on genealogy.

<ul>
<li><a href="/genealogy/people">People</a></li>
</ul>
